<h1> CURRICULUM VITAE </h1>
<br>
<div id="principal">
    <img src="foto.jpg" id="mifoto" width="150" align="left">

    <h2> Jesus Antonio Madrigal de la Cruz </h2>

    <br><br><br><br><br><br><br>
    <hr>
    <fieldset>
        <legend> Contacto </legend>
        <ul>
            <li> Correo</li>
            <li> Direccion: Calle jose torres alor Colonia 5 de mayo </li>
            <li> Telefono: 921-206-8124 </li>
            <li> Nacionalidad: Mexicano</li>
        </ul>
    </fieldset>
    <hr>
    <fieldset>
        <legend> objetivos profesionales</legend>
        <ul>
            <h6>Ser siempre una persona abierta a conocimientos nuevos que me 
            ayuden a desempeñarme mejor en el ámbito laborar, siempre 
            actualizado ante cualquier novedad en la que pueda ayudarme para 
            seguir teniendo la calidad deseada para laborar.
                </h6>
        </ul>
    </fieldset>
    <hr>
    <fieldset>
        <legend> Escolaridad </legend>
        <ul>
            <li>Primaria: 
            <br>Nombre: Hermenegildo galeana
                Domicilio: Villa La Venta, Huimanguillo, Tabasco.
                Fecha: 2004-2010
                Título: Certificado
            </li>
            <li>Secundaria: 
            <br>Nombre: Estatal lic.Benito Juarez
                Domicilio: Villa La Venta, Huimanguillo, Tabasco.
                Fecha: 2010-2013
                Título: Certificado
            </li>
            <li>Preparatoria:
            <br>Nombre: COBATAB Plantel 15
                Especialidad: Diseño
                Domicilio: Villa La Venta, Huimanguillo, Tabasco.
                Fecha: 2013-2016
                Título: Certificad
            </li>
            <li>Universidad: 
            <br>Nombre: Instituto Tecnológico Superior de La Venta
                Domicilio: Villa La Venta, Huimanguillo, Tabasco.
                Cursando la carrera de Ingeniería en Sistemas
                Computacionales
            </li>
        </ul>
    </fieldset>
    <hr>
    <fieldset>
        <legend> Conociminentos </legend>
        <ul>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">Java</div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">HTML5,JavaScript</div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">MySQl, SQlite, Oracle</div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">Ruby on rails,ReactNative,Bootstrap</div>
        </div>    
        </ul>
    </fieldset>
    <br>
    <%= link_to 'contacto', new_contacto_path, class: "btn btn-danger" %>
</div>
